body{
    background-color: rgb(104, 163, 252);
}
.divcontainer{
    width: 100%;
}

p {
    font-size: 25px;
}

.lbtxt{
    color:black;
    font-weight: bold;
}
.bton{
    background-color: red;
    color: white; ;
    height: 40px;
    width: 100px;
    font-weight:bold;
}
.bton:hover{
    background-color:rgb(134, 0, 0);
}

